.expenditures{
    float: right;
    width: 70%;
    height: 550px;
    background-color: #F4F2EC;
}

.exptitle{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 7000;
    padding-top: 2rem;
    color: #ad9c84;
}

.expcaption{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #ad9c84;
    padding-bottom: 25px;
}

.expprogressbar{
    align-items: center;
    margin-left: 35%;
    max-width: 300px;
}

.buttonCenter{
	margin-left: 45%;
    color: white;
    background-color: #ad9c84;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}

.buttonCenter:hover {
    opacity: 55%;
}

@media only screen and (max-width:1024px) {
    .expenditures{
        width: 100%;
    }

    .exptitle{
        padding-top:80px;
    }

    .expcaption{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
        padding-bottom: 30px;
    }
}
