.infoSection{    
    background: linear-gradient(90deg, rgb(216,195,165) 0%, rgb(216,195,165) 100%);
    float: left;
    width: 20%;
    /*height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-left: 0px;*/
}
.uNameTitle {
    color: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Baloo Tammudu 2', cursive;
}
