.infoSection{    
    background: #e98074;
    float: left;
    width: 30%;
    padding: 0rem;
    /*height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-left: 0px;*/
}

.form{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10%;
    font-size: 30px;
}

.input{
    width: 80%;
    align-items: center;
    justify-content: center;
}